<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Jexia Authentication</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-social.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <h1>Jexia Social Auth</h1>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <p>A simple prototype demonstrating how to use <a href="https://www.jexia.com">Jexia</a> to provide custom and social authentication
                for end users.</p>
        </div>
    </div>

    <div class="container container-fluid">
        {{{body}}}
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-center">
                Created with <span class="heart pulse">♥</span> for <a href="https://www.jexia.com">Jexia</a>, using the official <a href="https://github.com/jexia-inc/jexia-sdk-js">jexia-sdk-js</a>.
            </p>
        </div>
    </footer>
</body>
</html>
